@media (min-width: 992px) {
    .cont{
        margin-top: 50px;
    }
    .col-sm-4 .card{
        margin-top: 50px;
    }
    .col-sm-4 .card .card-body .huruf-card{
        color: white;
        text-align: center;
        font-size: 25px;
        font-weight: 500;
    }
    .container .row .bungkus h3{
        margin-top: 20px;
    }
    .container .row h3{
        margin: 20px 0px;
    }
    .my-custom-scrollbar {
        position: relative;
        height: 400px;
        overflow: auto;
        margin: 30px 0px;
        margin-bottom: 30px;
    }
    .table-wrapper-scroll-y {
        display: block;
    }
    .col-sm-4 .card .card-body .card-text{
        color: black;
        font-size: 15px;
    }
    .area{
        margin-bottom: 30px;
    }
}
@media (max-width: 576px) {
    .cont{
        margin-top: 30px;
    }
    .col-sm-4 .card{
        margin-top: 30px;
    }
    .col-sm-4 .card .card-body .huruf-card{
        color: white;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
    }
    .container .row .bungkus select{
        margin: 30px 0px;
    }
    .container .row .bungkus h3{
        font-size: 18px;
    }
    .container .row .global{
        text-align: center;
        margin-top: 30px;
    }
    .col-sm-4 .card .card-body .card-text{
        color: black;
        font-size: 15px;
    }
    .my-custom-scrollbar {
        position: relative;
        height: 400px;
        overflow: auto;
        margin: 30px 0px;
        margin-bottom: 30px;
    }
    .table-wrapper-scroll-y {
        display: block;
    }
}
